body{
    background-color: black;
    color: white;
}

#mainDiv{
    border: 2px solid white;
    padding: 20px 50px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#parentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 740px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
  width: 180px;
  padding: 20px 40px ;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 6px;
  cursor: pointer;
  margin: 30px 20px;
  text-align: center;
  background-color: black;
  color: white;
}

input{
    padding: 15px 100px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

#result{
    display: flex;
    gap: 30px;
}

.results{
    padding: 25px 145px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 600;

}

#output{
    padding: 15px 70px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin: 0px ;
    height: 50px;
    width: 200px;
}

#output::placeholder{
    color: white;
}