#parentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    border: 2px solid black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 10px;
    background-color: antiquewhite;
}

#inputDiv{
    display: flex;
    gap: 30px;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    border: 1px solid antiquewhite;
    box-shadow: 0px 6px 30px rgba(207, 171, 100, 0.801);
    border-radius: 10px;
    padding: 10px 20px;
}

#diceImages{
    max-height: 20px;
}