* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(14, 16, 17);
  color: white;
  margin: 0;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mainDiv {
  background-color: rgb(20, 22, 23);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 18px;
  padding: 30px;
  width: 720px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

#contentDiv {
  display: flex;
  gap: 40px;
}

#leftDiv,#rightDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  color: rgb(220, 220, 220);
}

input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: rgb(10, 11, 12);
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(80, 80, 80);
  outline: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

input::placeholder {
  color: rgb(150, 150, 150);
}

input:focus {
  border: 1px solid rgb(200, 200, 200);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9),
              0 0 6px rgba(255, 255, 255, 0.2);
}

button {
  margin-top: 22px;
  width: 170px;
  height: 38px;

  background-color: rgb(30, 32, 33);
  color: white;

  border-radius: 20px;
  border: 1px solid rgb(180, 180, 180);

  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

button:hover {
  background-color: rgb(40, 42, 43);
}

button:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.8);
}

.outputDiv {
  width: 100%;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.outputDiv p {
  width: 100%;
  height: 36px;
  background-color: rgb(10, 11, 12);
  color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

#total {
  font-weight: bold;
  font-size: 16px;
}
